body {
    background-image:url("../images/fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    font-family: "Share Tech", sans-serif;
     font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}


h1 {
    background-color:lightblue !important;
    color: #c88a9e;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    margin: 20px auto;
    text-align: center;
   
     }

img {
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 20px auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

li {
    display:inline;
     border: 2px solid black;
    padding: 5px 10px;
    margin: 0 5px;

}
a {
    color: inherit; 
    text-decoration: none; 
}