*{

}

body {
  
}

h1 { border-bottom: 5px solid black; }

footer { border-top: 5px solid black; 
}



.img-right { float: right; margin-right: 60px; border: 3px solid red; width: 250px; }
    


li{border-left: 5px solid red;
    padding-left: 10px;}



    .parrafo-caja {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* REQ 5: Sombra */
    width: 90%; /* REQ 10: 90% de ancho */
    padding: 10px; /* REQ 11: Relleno */
    margin: 15px auto;
}

     
p { padding:10px;}

 p{ first-of-type
    background-repeat: repeat;

 }
.parrafo-caja:first-child { 
    border-radius: 30px 30px 0 0; /* REQ 4: Redondeo Superior */
    border-top: 5px solid black; 
    /* REQ 12: Fondo que se repite (Ruta y Sintaxis Corregidas) */
    background-image: url('/images/fondoParrafo.png'); 
    background-repeat: repeat; 
}
.parrafo-caja:last-child { 
    border-radius: 0 0 30px 30px; /* REQ 8: Redondeo Inferior */
    border-bottom: 5px solid black; 
}
