
*{

}

body {
  
}

h1 {
border-bottom:5px;
border-color: black;}

footer { border-top: 5px solid black; 
}



.img-right
   float:right;
    margin-right: 60px;
      border: 3px solid red;
    width: 90% px;}
    

p {border-radius: 30px 30px 0 0;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5); 
    border-top: 5px solid black;
border-radius: 30px 30px 0 0}


li{border-left: 5px solid red;
    padding-left: 10px;}


p {last-of-type
     border-radius 30px;}

     text-indent: 40px;
     
p { padding:10px;}

 p{ first-of-type
    background-repeat: repeat;

 }
parrafo-caja:first-child.{
    background-image:/practica2/images/fondoParrafo.png
    background-repeat: ; }
