*{

}

body {
  
}

h1 {
border-bottom:5px;
border-color: black;}

@media all and (max-width: 500px) {

img { 
    float: right
    margin-right: 60px
    border: red;
    width: 90px;
    display: block;
     margin-left: auto;
     margin-right: auto;}


p {border-radius: 30px 30px 0 0;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5); 
    border-top: 5px solid black;}


li{border-left: 5px solid red;}


p {last-of-type
     border-radius 30px }

     text text-indent: 40px;
     
p { padding 10px}

 p{ first-of-type
    background-repeat: repeat;
 }
