
*{

}

body {
  
}

h1 {
border-bottom: solid 5px black;
text-align: center;
background-color: #C3C3E5;
}

img {
float: right;

margin-right: 60px;
display: block;
border:4px solid black 
}

ul {

}

li {

}

p {
clear: right;
border-style: dashed;
text-indent: 40px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
padding: 10px; 
}

#header {
  
}

#content{
  
}

#text {

}

#text p {
  
}

#text p:first-child {
   border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url('../images/fondoParrafo.png'); 
   background-repeat: repeat;
   
   
}

#text p:last-child {
 border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #C3C3E5;
  
}
#text p:nth-child(2) {
    background-color: #C3C3E5; 
}


#menu li{
list-style: none;  /* Quita los puntos de la lista */
border-left: 5px solid red;
padding-left: 5px; 
margin-right: 20px; 
display: inline-block; 
justify-content: center; 

}

#menu li a:hover{

}

#footer{
border-top: solid 5px #443266 ;
text-align: center;
}



#footer a:hover{
   
 
 }



#image {
@media all and (max-width: 500px)
 
display: block;
margin: auto;
width: 50%;
margin-right: 60px;
display: block;
border:4px solid red;
width:90px ;

}
