

.card {
 display: flex;
 flex-direction: column; 
 gap: 20px;
 width: 300px;
 padding: 20px;
 border-radius: 15px;
 box-shadow: 0px 7px 7px 0px;
 

}

 .header{
   display:flex;
    align-items: center;
    gap:15px;
    background-color: lightgrey;
 }

 .avatar{
    width: 85px;
    height: 85px;
    border-radius:50%;
    background-color:rgb(0, 140, 255); ;
 }

 .stats{

    display:flex;
    justify-content:space-around;
    border-top:1px;
    padding-top:13px;

 } 

 .stat-item{
    display:flex;
    flex-direction: column;
    align-items:center;
 }

 .actions{
    display:flex;
    gap:10px;
 }

 .btn-primary{
    flex-grow:2;
    color:white;
    background: rgb(0, 140, 255);
    border:none;
    padding: 10px;
    margin:auto;
    border-radius:5px;
 }

 .btn-secondary{
 flex-grow:1;
 background: darkwhite;
 padding: 10px;
border:none;
 background: darkwhite;
 border-radius:5px;
 }

 





 



   
